.add-cell {
    opacity: 0;
    position: relative;
    display: flex;
    justify-content: center;
    transition: opacity 0.3s ease-in 0.1s;
    button {
        margin: 3px 15px;
    }
    .divider {
        position: absolute;
        top: 50%;
        right: 3%;
        left: 3%;
        bottom: 50%;
        border-bottom: 1px solid grey;
        width: 94%;
        z-index: -1;
    }  
}

.force-visible {
    .add-cell {
        opacity: 1;
    }
}

.add-cell:hover {
    opacity: 1.0;
}