.editor-wrapper {
    position: relative;
    height: 100%;
    .button-format {
        position: absolute;
        top: 5px;
        right:5px;
        z-index: 5;
        opacity: 0;
        transition: opacity 0.3s;
    }
}

.editor-wrapper:hover {
    .button-format {
        opacity: 1
    };
}